header{
    height: 110px;
    background-color:cornflowerblue;
    padding: 1rem 2rem;
    box-sizing: border-box;
    font-size: 2.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "arial",serif;
    font-weight: bold;
    
}

body {
  background-color:lightcyan;
  margin: 0;
  padding: 0;
}

header a {
    color: #ffffff;
}

header li {
  list-style: none; 
  margin-left: 5rem; 
}

div{
position: relative;
left: 100px;
}

h1 {
  position: relative;
  left: 710px;
  top: 25px;
  color:rgb(4, 79, 114);
  font-family: "arial",serif;
  font-size: 2.4em;
}

pyscript{
color:black;
font-family: "arial",serif;
}